.Footer{
    background-color: var( --second-color);
    height: max-content;
    width: 100%;
    padding: 50px;
    color: #ffff;
    font-size: 20px;
}
.Footer .card_footer{
    margin-bottom: 20px;
}
.Footer .card_footer > p:nth-of-type(1){
    font-size: 25px !important;
    text-transform: uppercase;
}
.border-redu_1 ,
.border-redu{
    border-radius: 0 !important;
    border-radius: 0px 10px 10px 0px !important;
}
.border-redu_1{
    
    border-radius: 10px 0px 0px 10px !important;
}